= form_for :user, { url: login_path, html: { id: 'new_user_session' } } do
  = text_field_tag "user_session[email]", @user_struct.email
  = password_field_tag "user_session[password]"
  = submit_tag "Sign In"