%section.padded.white
  .group
    %h1 Features
    %p
      Embassy Place is designed as the name implies for people who demand the highest caliber service and the very best features in a private world of comfort and convenience. The unparalleled combination of superior quality residences with the features and amenities of a luxury home and exceptional service are available now in northwestern Indiana’s premier rental community-Embassy Place.

    .clear

  .group
    .right= image_tag "features/floor-plan.png", { alt: "TODO floor plan image" }
    %ul
      %li Spacious 2 Bedroom Suites with Full Baths
      %li Attached Garages
      %li Utility Room w/Full-Size W/D Included
      %li Cozy Fireplaces
      %li Home Alarm System
      %li Whirlpool Bathtubs/Vaulted Ceilings in some units
      %li High Speed Internet Available & Cable Ready
      %li Sheltered Patios or Balconies/Brick Exteriors
      %li ContemporaryKitchens include ALL Major Appliances
      %li Close to Shopping & Easy Access to Freeway
      %li 24 hour Emergency Maintenance
      %li Furnished Corporate Apartments Available

  .clear
  .group
  .group
    %h2 Amenities
    .right= image_tag "features/brochure.png", { alt: "TODO brochure image" }
    %p TODO: Fill in amenities
    .clear