%section.padded.white
  .group
    %h1 Features
    %p
      Embassy Place introduces distinctive, well appointed rental residences that offer a level of amenity, privacy and spacious living normally associated with a luxury home. Savor each day the features of your innovative, state-of-the-art home in an exclusive, maintenance-free community of premier rental residences.

    .clear

  .group
    .right
      = image_tag "features/floor-plan.png", { id: "link-floor-plan", alt: "Floor plans", class: "shadow pointer" }
    %ul
      %li Highest Caliber of Maintenance
      %li On-site Staff
      %li Furnished Corporate Apartments Available
      %li 24 Hour On-call Emergency Service

  .clear
  .group
  .group
    %h2 Amenities
    .right
      = link_to asset_path("embassy_place.pdf") do
        =image_tag "features/brochure.png", { alt: "Brochure", class: "shadow" }
    %ul#amenities
      %li Brick Exterior
      %li Attached One-Car Garages
      %li Spacious Bedroom Suites with Full Baths
      %li Contemporary Kitchens, with Microwaves, Dishwashers, Ranges and Frost Free Refrigerators with Ice Makers
      %li Utility/Laundry Room with Full Size Washer and Dryer
      %li Fireplaces
      %li Sheltered Balconies or Patios
      %li Whirlpool Bathtubs in Select Units
      %li Vaulted Ceilings (2nd Floor Only)
      %li Smoke Alarms
      %li Cable Ready
      %li High Speed Internet Available      
    .clear

- content_for :modal_title, "Floorplans"
- content_for :modal_content do
  = image_tag "features/plan-a.png", { alt: "The Barrister", class: "shadow" }
  %br
  = image_tag "features/plan-b.png", { alt: "The Ambassador", class: "shadow" }

- content_for :scripts do
  :javascript
    $(document).ready(function(){
      $("#link-floor-plan").click(function(){
        Embassy.Modal.open();
        return false;
      })
    })
